body {
    background: $primary;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $Elephan;
}

// Navigation container
.navigationContainer {
    @include gradientPrimaryVertical();
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition:0.2s cubic-bezier(0.215, 0.610, 0.355, 1);

    @media (max-width: $tablet) {
        background: hsla(225, 40%, 6%, 0.74);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        flex-direction: column;
        max-width: 300px;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 10em;
        margin-left: -300px;
        position: fixed;
        .item{
            width: 100%;
        }
    }

    @media (max-width: 300px){
        width: 100%;
    }

    .logo {
        background: $primary2;
        display: table;
        padding: 35px 20px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin: 0 20px 20px 20px;
        transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        @extend .shadow-lg;
        @media (max-width: $tablet) {
            position: absolute;
            top: 0;
            left: 48px;
        }
        @media (max-width: 300px){
            left: 40%;
            transform: translateX(-40%);
            padding: 20px 15px;
            img{
                width: 50px;
            }
        }
    }

    .menuList {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
        li {
            position: relative;
            a {
                display: table;
                font-size: 18px;
                font-weight: 500;
                padding: 15px 25px;
                color: white;
                text-decoration: none;
                transition: 0.2s ease;
                text-align: center;
                &:hover {
                    color: $secondary;
                }
                @media (max-width: $tablet) {
                    width: 100%;
                    // background: red;
                    // border-bottom: 1px solid blue;
                }
            }
            &.active {
                a {
                    color: $secondary;
                }
                &::after {
                    background: url("../img/active.svg") no-repeat center center;
                    background-size: contain;
                    display: table;
                    width: 50px;
                    height: 20px;
                    content: " ";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    @media (max-width: $tablet) {
                        bottom: 0px;
                    }
                }
            }
        }
    }
}

.openMenu{
    margin-left: 0;
}

.logoMobile{
    display: none;
    @media(max-width: $tablet){
        display: table;
        background: $primary2;
        padding: 35px 20px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin: 0 20px 20px 20px;
        position: fixed;
        top: 0;
        left: 50%;
        z-index: 1000;
        margin-top:0;
        transform: translateX(-50%);
        transition:0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
        &.closeLogoMobile{
            margin-top: -150px;
        }
    }
    @media(max-width: 450px){
        left: 5%;
        padding: 25px 15px;
        transform: translateX(-5%);
        img{
            width: 80px;
        }
    }
}

.navMobileTrigger{
    display: none;
    @media(max-width: $tablet){
        display: table;
        content: '';
        width: 45px;
        height: 45px;
        background: $primary2 url('../img/menuMobile.svg') center center;
        background-size: 80%;
        position: fixed;
        top: 30px;
        right: 30px;
        border-radius: 5px;
        z-index: 1000;
        transition: 0.3s ease;
    }

    @media(max-width: 450px){
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
    }

    &.closeIcon{
        background: $secondary url('../img/closeMenu.svg') no-repeat center center;
        background-size: 80%;
    }
}

// Navigation container

// Header homepage

.headerHomepage {
    background: url("../img/bgHeaderHome.png") no-repeat center center;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: $Elephan;
        color: white;
    }

    .item {
        &.image {
            // background: orange;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.content {
            width: 30%;
            // background: blue;
        }
    }
}

// Header homepage

// Sosmed Fixed
.sosmedFixed {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
        margin-bottom: 15px;
        a {
            display: table;
            color: $secondary;
            padding: 5px;
            border-radius: 100px;
            transition: 0.2s ease;
            img {
                width: 30px;
                height: auto;
            }
            &:hover {
                background: $primary2;
            }
        }
    }
    &::before {
        content: "";
        display: table;
        width: 1px;
        height: 25vh;
        background: $primary2;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
    }
    &::after {
        content: "";
        display: table;
        width: 1px;
        height: 25vh;
        background: $primary2;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
    }
}
