body {
    background: $primary;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $Elephan;
}

// Navigation container
.navigationContainer {
    @include gradientPrimaryVertical();
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 1000;

    @media (min-width: $tablet) {
        &.menuOnScroll {
            margin-top: -25px;
        }
    }

    @media (max-width: $tablet) {
        background: hsla(225, 40%, 6%, 0.74);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        flex-direction: column;
        max-width: 300px;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 10em;
        margin-left: -300px;
        position: fixed;
        z-index: 1000;
        .item {
            width: 100%;
        }
    }

    @media (max-width: 300px) {
        width: 100%;
    }

    .logo {
        background: $primary2;
        display: table;
        padding: 35px 20px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin: 0 20px 20px 20px;
        transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        @extend .shadow-lg;
        @media (max-width: $tablet) {
            position: absolute;
            top: 0;
            left: 48px;
        }
        @media (max-width: 300px) {
            left: 40%;
            transform: translateX(-40%);
            padding: 20px 15px;
            img {
                width: 50px;
            }
        }
    }

    .menuList {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
        li {
            position: relative;
            a {
                display: table;
                font-size: 18px;
                font-weight: 500;
                padding: 15px 25px;
                color: white;
                text-decoration: none;
                transition: 0.2s ease;
                text-align: center;
                &:hover {
                    color: $secondary;
                }
                @media (max-width: $tablet) {
                    width: 100%;
                    // background: red;
                    // border-bottom: 1px solid blue;
                }
            }
            &.active {
                a {
                    color: $secondary;
                }
                &::after {
                    background: url("../img/active.svg") no-repeat center center;
                    background-size: contain;
                    display: table;
                    width: 50px;
                    height: 20px;
                    content: " ";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    @media (max-width: $tablet) {
                        bottom: 0px;
                    }
                }
            }
        }
    }
}

.openMenu {
    margin-left: 0;
}

.bgMenuMobile {
    display: none;
    content: "";
    width: 100%;
    height: 150px;
    background: orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 899;
    @include gradientPrimaryVertical();
    @media (max-width: $tablet) {
        display: table;
    }
}

.logoMobile {
    display: none;
    @media (max-width: $tablet) {
        display: table;
        background: $primary2;
        padding: 35px 20px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin: 0 20px 20px 20px;
        position: fixed;
        top: 0;
        left: 50%;
        z-index: 1000;
        margin-top: 0;
        transform: translateX(-50%);
        transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        &.closeLogoMobile {
            margin-top: -150px;
        }
    }
    @media (max-width: 450px) {
        left: 45%;
        padding: 25px 15px;
        transform: translateX(-45%);
        img {
            width: 80px;
        }
    }
}

.navMobileTrigger {
    display: none;
    @media (max-width: $tablet) {
        display: table;
        content: "";
        width: 45px;
        height: 45px;
        background: $primary2 url("../img/menuMobile.svg") center center;
        background-size: 80%;
        position: fixed;
        top: 30px;
        right: 30px;
        border-radius: 5px;
        z-index: 1000;
        transition: 0.3s ease;
    }

    @media (max-width: 450px) {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
    }

    &.closeIcon {
        background: $secondary url("../img/closeMenu.svg") no-repeat center center;
        background-size: 80%;
    }
}

// Navigation container

// Header homepage

.headerHomepage {
    background: url("../img/bgHeaderHome.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet) {
        flex-direction: column;
    }

    h1 {
        font-family: $Elephan;
        color: white;
    }

    .item {
        &.image {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            @media (max-width: $tablet) {
                padding: 20px;
            }
            @media (max-width: $mobile) {
                width: 40%;
            }
            @media (max-width: $mobile-ex) {
                width: 60%;
            }
        }
        &.content {
            width: 30%;
            @media (max-width: $tablet) {
                text-align: center;
                width: 70%;
            }
        }
    }
}

// Header homepage

// Sosmed Fixed
.sosmedFixed {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 900;

    @media (max-width: $tablet) {
        background: $secondary;
        height: auto;
        overflow: hidden;
        padding: 15px 10px 5px 10px;
        border-radius: 100px;
        width: 60px;
        top: unset;
        transform: translateY(unset);
        left: unset;
        bottom: 60px;
        right: -100px;
        transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &.openSosmed {
        right: 20px;
    }

    li {
        margin-bottom: 15px;
        @media (max-width: $tablet) {
            margin-bottom: 10px;
        }
        a {
            display: table;
            color: $secondary;
            padding: 5px;
            border-radius: 100px;
            transition: 0.2s ease;
            img {
                width: 30px;
                height: auto;
            }
            &:hover {
                background: $primary2;
            }
            @media (max-width: $tablet) {
                background: $primary2;
            }
        }
    }

    &::before {
        content: "";
        display: table;
        width: 1px;
        height: 25vh;
        background: $primary2;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &::after {
        content: "";
        display: table;
        width: 1px;
        height: 25vh;
        background: $primary2;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        @media (max-width: $tablet) {
            display: none;
        }
    }
}

#btnSosmedTrigger {
    display: none;
    z-index: 900;
    @media (max-width: $tablet) {
        background: $primary2 url("../img/iconShare.svg") no-repeat center center;
        background-size: 50%;
        content: "";
        display: table;
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 95px;
        right: 20px;
        border-radius: 50%;
    }
    &.closeShare {
        background: $secondary url("../img/closeMenu.svg") no-repeat center center;
    }
}

#btnWhatsApp {
    background: $primary2 url("../img/iconWhatsapp.svg") no-repeat center center;
    background-size: 50%;
    content: "";
    display: table;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 900;
    &:hover {
        background: $secondary url("../img/iconWhatsapp.svg") no-repeat center center;
    }
}

// Section content image

.sectionContentImage {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("../img/bgAksenLeft.svg") no-repeat left center;
    transition: 0.3s ease-in-out;

    @media (max-width: $tablet) {
        flex-direction: column;
        height: 80vh;
    }

    img {
        width: 28%;
        height: 700px;
        object-fit: cover;
        border-radius: 25px;
        @media (max-width: $tablet) {
            width: 80%;
            height: 70vh;
            margin-top: 0em;
        }
        @media (max-width: 400px) {
            width: 80%;
            height: 50vh;
            margin-top: 3em;
        }
    }
    .contentContainer {
        position: relative;
        width: 25%;
        height: 60vh;
        @media (max-width: $tablet) {
            width: 80%;
            margin-top: -10em;
            margin-bottom: 3em;
        }
        @media (max-width: 400px) {
            width: 80%;
            margin-top: -20em;
            margin-bottom: 3em;
        }
        .content {
            background: $primary url("../img/dividerVertical.svg") no-repeat top left;
            background-position: 30px 20px;
            padding: 50px 60px 50px 90px;
            border-radius: 0 200px 200px 0;
            position: absolute;
            bottom: 5%;
            right: -40%;
            @media (max-width: $tablet) {
                right: 0;
                border-radius: 25px;
                background-color: rgba(18, 24, 40, 0.9);
                -webkit-backdrop-filter: blur(15px);
                backdrop-filter: blur(15px);
            }
            @media (max-width: 400px) {
                background: rgba(18, 24, 40, 0.9);
                -webkit-backdrop-filter: blur(15px);
                backdrop-filter: blur(15px);
                right: 0;
                padding: 30px;
            }
            h4 {
                font-family: unset;
                color: $secondary;
                font-size: 18px;
            }
            h2 {
                margin-bottom: 0px;
            }
        }
    }

    &.right {
        flex-direction: row;
        background: url("../img/bgAksenRight.svg") no-repeat right center;

        @media (max-width: $tablet) {
            flex-direction: column;
            height: 80vh;
        }

        img {
            width: 28%;
            height: 700px;
            object-fit: cover;
            border-radius: 25px;
            @media (max-width: $tablet) {
                width: 80%;
                height: 70vh;
                margin-top: 0em;
            }
            @media (max-width: 400px) {
                width: 80%;
                height: 50vh;
                margin-top: 3em;
            }
        }
        .contentContainer {
            position: relative !important;
            width: 25%;
            height: 60vh;
            left: -10%;
            @media (max-width: $tablet) {
                width: 80%;
                margin-top: -10em;
                margin-bottom: 3em;
                left: 0;
            }
            @media (max-width: 400px) {
                width: 80%;
                margin-top: -20em;
                margin-bottom: 3em;
            }
            .content {
                background: $primary url("../img/dividerVertical.svg") no-repeat top right;
                padding: 50px 60px 50px 60px;
                border-radius: 200px 0 0 200px;
                position: absolute;
                bottom: 5%;
                text-align: right;
                @media (max-width: $tablet) {
                    background-position: 30px 20px;
                    padding: 50px 60px 50px 90px;
                    border-radius: 0 200px 200px 0;
                    background-color: rgba(18, 24, 40, 0.9);
                    -webkit-backdrop-filter: blur(15px);
                    backdrop-filter: blur(15px);
                    border-radius: 25px;
                    display: table;
                    text-align: unset;
                }
                @media (max-width: 400px) {
                    background: rgba(18, 24, 40, 0.9);
                    -webkit-backdrop-filter: blur(15px);
                    backdrop-filter: blur(15px);
                    right: 0;
                    padding: 30px;
                }
                h4 {
                    font-family: unset;
                    color: $secondary;
                    font-size: 18px;
                }
                h2 {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

// Section content image

// Title section
.titleSection {
    text-align: center;
}
// Title section

// Event Organizer
.eventOrganizer {
    background: url("../img/bgEventorganizer.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: $tablet) {
        height: auto;
        padding: 3em 20px;
    }

    .listEO {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        @media (max-width: 1400px) {
            flex-wrap: wrap;
        }
        @media (max-width: $tablet) {
            width: 100%;
        }
        @media (max-width: 450px) {
            width: 100%;
        }
        li {
            width: 16.66%;
            padding: 15px 20px;
            border-radius: 15px;
            transition: 0.2s ease;
            @media (max-width: 1400px) {
                width: 26.66%;
            }
            @media (max-width: 800px) {
                width: 50%;
                margin-bottom: -40px;
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 15px;
                margin-bottom: 15px;
                @media (max-width: 450px) {
                    height: 150px;
                }
            }
            h5 {
                font-family: unset;
                text-align: center;
                color: $secondary;
                height: 70px;
                @media (max-width: 450px) {
                    font-size: 16px;
                }
            }
            &:hover {
                background: $primary2;
            }
        }
    }
}
// Event Organizer

// Taaruf
.taarufSection {
    background: url("../img/bgTaaruf.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: $tablet) {
        height: auto;
        padding: 3em 20px;
    }
}
// Taaruf

// Simple Aksen
.simpleAksen {
    background: url("../img/AksenrightHeader.svg") no-repeat top right;
    background-size: inherit;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: $tablet) {
        height: auto;
        padding: 3em 20px;
    }
}
// Simple Aksen

// Footer
.footerContainer {
    background: url("../img/bgFooter.svg") no-repeat bottom center;
    background-size: auto;
    padding: 6em 0 10em 0;
    position: relative;
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        @media (max-width: 1150px) {
            flex-direction: column;
        }
        @media (max-width: $tablet) {
            width: 100%;
        }

        .item {
            .menuFooter {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: left;
                li {
                    a {
                        display: block;
                        color: white;
                        text-decoration: none;
                        font-size: 16px;
                        padding: 8px 0;
                        transition: 0.3s ease;
                        .iconify {
                            color: $primary2;
                            width: 25px;
                            height: 25px;
                            transition: 0.3s ease;
                        }
                        &:hover {
                            color: $secondary;
                            .iconify {
                                color: $secondary;
                            }
                        }
                    }
                }
            }
            @media (max-width: 1150px) {
                margin-bottom: 20px;
            }

            &.AboutUs {
                width: 40%;
                padding: 0 20px;
                @media (max-width: $tablet) {
                    width: 80%;
                }
            }
            &.Sosmed {
                width: 30%;
                padding: 0 20px;
                @media (max-width: $tablet) {
                    width: 80%;
                }
            }
            &.LogoImage {
                width: 30%;
                padding: 0 20px;
                @media (max-width: $tablet) {
                    width: 80%;
                }
            }
        }
    }
    .copyright {
        background: $primary2;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        text-align: center;
        font-size: 12px;
        color: #68769b;
    }
}
// Footer

// Nav Next
.navNext {
    display: table;
    position: fixed;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
}
// Nav Next

// Title with gold divider
.titleDividerGold {
    background: url("../img/dividerGold.svg") no-repeat top center;
    background-size: inherit;
    display: table;
    margin: 0 auto 20px auto;
    text-align: center;
    padding: 40px 0 0 0;
    h3 {
        font-family: unset;
        margin-bottom: 0;
    }
}
// Title with gold divider

// Accordeon Primary
.accordion-primary {
    .primary-header {
        background: #232d48 url("../img/headerAccordeon.svg") no-repeat top left;
        background-size: contain;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 10px;
        padding: 23px 30px;
        h4 {
            font-size: 20px;
            margin: 0;
            color: $secondary;
        }
        p {
            margin: 0;
        }
    }
    .accordion-item {
        background: $primary;
        .accordion-header {
            font-family: unset;
            .accordion-button {
                background: #232d48;
                padding: 35px 30px;
                color: $secondary;
                border-radius: 10px;
                font-weight: bold;
                margin-bottom: 10px;
                &::after {
                    background: url("../img/chevronDown.svg") no-repeat center center;
                    background-size: cover;
                }
                &.collapsed {
                    background: #151d32;
                    font-weight: normal;
                }
            }
        }
    }
}
// Accordeon Primary

// Gallery Image
.galleryImage {
    a {
        text-decoration: none;
        color: white;
        .itemGallery {
            background: $primary2;
            padding: 0;
            border-radius: 20px;
            .thumbnail {
                padding: 0;
                width: 100%;
                height: 400px;
                object-fit: cover;
                border-radius: 20px;
                display: table;
                @media (max-width: $tablet) {
                    height: 250px;
                }
            }
            .content {
                padding: 30px 25px;
                position: relative;
                h5 {
                    margin: 0;
                    font-family: unset;
                }
                small {
                    color: #a4afcc;
                }
                &::after {
                    display: table;
                    content: "";
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    background: url("../img/chevronRightGold.svg") no-repeat center center;
                    background-size: cover;
                }
            }
        }
    }
}

.mfp-figure {
    position: relative;
    .mfp-close{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: absolute;
        top: 5px;
        right: 5px !important;
        width: 30px !important;
        height: 30px !important;
    }
    figure{
        padding: 0;
        .mfp-img {
            height: auto;
            width: 800px !important;
            object-fit: cover;
            border-radius: 20px !important;
            display: table;
            background: $primary2;
        }
    }
    
}
.mfp-bottom-bar{
    // background: red !important;
    padding: 5px 20px 0 20px;
}
// Gallery Image
