body {
    background: $primary;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $Elephan;
}

// Navigation container
.navigationContainer {
    @include gradientPrimaryVertical();
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 1000;

    @media (min-width: $tablet) {
        &.menuOnScroll {
            margin-top: -25px;
        }
    }

    @media (max-width: $tablet) {
        background: hsla(225, 40%, 6%, 0.74);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        flex-direction: column;
        max-width: 300px;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 10em;
        margin-left: -300px;
        position: fixed;
        z-index: 1000;
        .item {
            width: 100%;
        }
    }

    @media (max-width: 300px) {
        width: 100%;
    }

    .logo {
        background: $primary2;
        display: table;
        padding: 35px 20px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin: 0 20px 20px 20px;
        transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        @extend .shadow-lg;
        @media (max-width: $tablet) {
            position: absolute;
            top: 0;
            left: 48px;
        }
        @media (max-width: 300px) {
            left: 40%;
            transform: translateX(-40%);
            padding: 20px 15px;
            img {
                width: 50px;
            }
        }
    }

    .menuList {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
        li {
            position: relative;
            a {
                display: table;
                font-size: 18px;
                font-weight: 500;
                padding: 15px 25px;
                color: white;
                text-decoration: none;
                transition: 0.2s ease;
                text-align: center;
                &:hover {
                    color: $secondary;
                }
                @media (max-width: $tablet) {
                    width: 100%;
                    // background: red;
                    // border-bottom: 1px solid blue;
                }
            }
            &.active {
                a {
                    color: $secondary;
                }
                &::after {
                    background: url("../img/active.svg") no-repeat center center;
                    background-size: contain;
                    display: table;
                    width: 50px;
                    height: 20px;
                    content: " ";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    @media (max-width: $tablet) {
                        bottom: 0px;
                    }
                }
            }
        }
    }
}

.openMenu {
    margin-left: 0;
}

.bgMenuMobile{
    display: none;
    content: '';
    width: 100%;
    height: 150px;
    background: orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 899;
    @include gradientPrimaryVertical();
    @media (max-width: $tablet){
        display: table;
    }
}

.logoMobile {
    display: none;
    @media (max-width: $tablet) {
        display: table;
        background: $primary2;
        padding: 35px 20px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin: 0 20px 20px 20px;
        position: fixed;
        top: 0;
        left: 50%;
        z-index: 1000;
        margin-top: 0;
        transform: translateX(-50%);
        transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        &.closeLogoMobile {
            margin-top: -150px;
        }
    }
    @media (max-width: 450px) {
        left: 45%;
        padding: 25px 15px;
        transform: translateX(-45%);
        img {
            width: 80px;
        }
    }
}

.navMobileTrigger {
    display: none;
    @media (max-width: $tablet) {
        display: table;
        content: "";
        width: 45px;
        height: 45px;
        background: $primary2 url("../img/menuMobile.svg") center center;
        background-size: 80%;
        position: fixed;
        top: 30px;
        right: 30px;
        border-radius: 5px;
        z-index: 1000;
        transition: 0.3s ease;
    }

    @media (max-width: 450px) {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
    }

    &.closeIcon {
        background: $secondary url("../img/closeMenu.svg") no-repeat center center;
        background-size: 80%;
    }
}

// Navigation container

// Header homepage

.headerHomepage {
    background: url("../img/bgHeaderHome.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet) {
        flex-direction: column;
    }

    h1 {
        font-family: $Elephan;
        color: white;
    }

    .item {
        &.image {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            @media (max-width: $tablet) {
                padding: 20px;
            }
            @media (max-width: $mobile) {
                width: 40%;
            }
            @media (max-width: $mobile-ex) {
                width: 60%;
            }
        }
        &.content {
            width: 30%;
            @media (max-width: $tablet) {
                text-align: center;
                width: 70%;
            }
        }
    }
}

// Header homepage

// Sosmed Fixed
.sosmedFixed {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 900;

    @media (max-width: $tablet) {
        background: $secondary;
        height: auto;
        overflow: hidden;
        padding: 15px 10px 5px 10px;
        border-radius: 100px;
        width: 60px;
        top: unset;
        transform: translateY(unset);
        left: unset;
        bottom: 60px;
        right: -100px;
        transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &.openSosmed {
        right: 20px;
    }

    li {
        margin-bottom: 15px;
        @media (max-width: $tablet) {
            margin-bottom: 10px;
        }
        a {
            display: table;
            color: $secondary;
            padding: 5px;
            border-radius: 100px;
            transition: 0.2s ease;
            img {
                width: 30px;
                height: auto;
            }
            &:hover {
                background: $primary2;
            }
            @media (max-width: $tablet) {
                background: $primary2;
            }
        }
    }

    &::before {
        content: "";
        display: table;
        width: 1px;
        height: 25vh;
        background: $primary2;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &::after {
        content: "";
        display: table;
        width: 1px;
        height: 25vh;
        background: $primary2;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        @media (max-width: $tablet) {
            display: none;
        }
    }
}

#btnSosmedTrigger {
    display: none;
    z-index: 900;
    @media (max-width: $tablet) {
        background: $primary2 url("../img/iconShare.svg") no-repeat center center;
        background-size: 50%;
        content: "";
        display: table;
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 95px;
        right: 20px;
        border-radius: 50%;
    }
    &.closeShare {
        background: $secondary url("../img/closeMenu.svg") no-repeat center center;
    }
}

#btnWhatsApp {
    background: $primary2 url("../img/iconWhatsapp.svg") no-repeat center center;
    background-size: 50%;
    content: "";
    display: table;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 900;
    &:hover {
        background: $secondary url("../img/iconWhatsapp.svg") no-repeat center center;
    }
}

// Section content image

.sectionContentImage {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("../img/bgAksenLeft.svg") no-repeat left center;
    transition: 0.3s ease-in-out;

    @media (max-width: $tablet) {
        flex-direction: column;
        height: 80vh;
    }

    img {
        width: 28%;
        height: 700px;
        object-fit: cover;
        border-radius: 25px;
        @media (max-width: $tablet) {
            width: 80%;
            height: 70vh;
            margin-top: 0em;
        }
        @media (max-width: 400px) {
            width: 80%;
            height: 50vh;
            margin-top: 3em;
        }
    }
    .contentContainer {
        position: relative;
        width: 25%;
        height: 60vh;
        @media (max-width: $tablet) {
            width: 80%;
            margin-top: -10em;
            margin-bottom: 3em;
        }
        @media (max-width: 400px) {
            width: 80%;
            margin-top: -20em;
            margin-bottom: 3em;
        }
        .content {
            background: $primary url("../img/dividerVertical.svg") no-repeat top left;
            background-position: 30px 20px;
            padding: 50px 60px 50px 90px;
            border-radius: 0 200px 200px 0;
            position: absolute;
            bottom: 5%;
            right: -40%;
            @media (max-width: $tablet) {
                right: 0;
                border-radius: 25px;
                background-color: rgba(18, 24, 40, 0.9);
                -webkit-backdrop-filter: blur(15px);
                backdrop-filter: blur(15px);
            }
            @media (max-width: 400px) {
                background: rgba(18, 24, 40, 0.9);
                -webkit-backdrop-filter: blur(15px);
                backdrop-filter: blur(15px);
                right: 0;
                padding: 30px;
            }
            h4 {
                font-family: unset;
                color: $secondary;
                font-size: 18px;
            }
            h2 {
                margin-bottom: 0px;
            }
        }
    }

    &.right {
        flex-direction: row;
        background: url("../img/bgAksenRight.svg") no-repeat right center;

        @media (max-width: $tablet) {
            flex-direction: column;
            height: 80vh;
        }

        img {
            width: 28%;
            height: 700px;
            object-fit: cover;
            border-radius: 25px;
            @media (max-width: $tablet) {
                width: 80%;
                height: 70vh;
                margin-top: 0em;
            }
            @media (max-width: 400px) {
                width: 80%;
                height: 50vh;
                margin-top: 3em;
            }
        }
        .contentContainer {
            position: relative !important;
            width: 25%;
            height: 60vh;
            left: -10%;
            @media (max-width: $tablet) {
                width: 80%;
                margin-top: -10em;
                margin-bottom: 3em;
                left: 0;
            }
            @media (max-width: 400px) {
                width: 80%;
                margin-top: -20em;
                margin-bottom: 3em;
            }
            .content {
                background: $primary url("../img/dividerVertical.svg") no-repeat top right;
                padding: 50px 60px 50px 60px;
                border-radius: 200px 0 0 200px;
                position: absolute;
                bottom: 5%;
                text-align: right;
                @media (max-width: $tablet) {
                    background-position: 30px 20px;
                    padding: 50px 60px 50px 90px;
                    border-radius: 0 200px 200px 0;
                    background-color: rgba(18, 24, 40, 0.9);
                    -webkit-backdrop-filter: blur(15px);
                    backdrop-filter: blur(15px);
                    border-radius: 25px;
                    display: table;
                    text-align: unset;
                }
                @media (max-width: 400px) {
                    background: rgba(18, 24, 40, 0.9);
                    -webkit-backdrop-filter: blur(15px);
                    backdrop-filter: blur(15px);
                    right: 0;
                    padding: 30px;
                }
                h4 {
                    font-family: unset;
                    color: $secondary;
                    font-size: 18px;
                }
                h2 {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

// Section content image

// Title section
.titleSection{
    text-align: center;
}
// Title section

// Event Organizer
.eventOrganizer{
    background:  url('../img/bgEventorganizer.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .listEO{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        li{
            width: 16.66%;
            padding: 15px 20px;
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 15px;
                margin-bottom: 15px;
                transition: 0.3s ease;
                border: 4px solid transparent;
            }
            h5{
                font-family: unset;
                text-align: center;
                color: $secondary;
                height: 70px;
            }
            &:hover{
                img{
                    border: 4px solid $secondary;
                }
            }
        }
    }
}
// Event Organizer