// Colors
$primary: #121828;
$primary2: #232d48;
$secondary: #e4a630;
$white: #fff;

@mixin gradientPrimaryVertical {
    background: -moz-linear-gradient(top,  rgba(18,23,40,1) 0%, rgba(18,23,40,0.7) 64%, rgba(18,23,40,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(18,23,40,1) 0%,rgba(18,23,40,0.7) 64%,rgba(18,23,40,0) 100%);
    background: linear-gradient(to bottom,  rgba(18,23,40,1) 0%,rgba(18,23,40,0.7) 64%,rgba(18,23,40,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121728', endColorstr='#00121728',GradientType=0 );
    
    
}

// @mixin gradientPrimaryVertical {
//     background: -moz-linear-gradient(top, rgba(18, 24, 40, 1) 0%, rgba(18, 24, 40, 0) 100%);
//     background: -webkit-linear-gradient(top, rgba(18, 24, 40, 1) 0%, rgba(18, 24, 40, 0) 100%);
//     background: linear-gradient(to bottom, rgba(18, 24, 40, 1) 0%, rgba(18, 24, 40, 0) 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121828', endColorstr='#00121828',GradientType=0 );
// }

// Media screen
$desktop:1800px;
$tablet:1100px;
$mobile:600px;
$mobile-ex:300px;